<!doctype html>
<html>
<head>

    <!-- Fake3dImageEffect style -->

    <!-- Old way -->
    <link rel="stylesheet" href="https://unpkg.com/@luxdamore/vue-fake3d-image-effect@latest/dist/Fake3dImageEffect.css" />
    <!-- end old way -->

    <!-- New way -->
    <link rel="preload" href="https://unpkg.com/@luxdamore/vue-fake3d-image-effect@latest/dist/Fake3dImageEffect.css" as="style" onload="this.rel='stylesheet'" />
    <link rel="preload" href="https://unpkg.com/@luxdamore/vue-fake3d-image-effect@latest/dist/Fake3dImageEffect.umd.min.js" as="script" />
    <!-- end new way -->

    <!-- end Fake3dImageEffect style -->

</head>
<body>

<!--
    Others script (ex. VueJs) and html.
-->

<!-- Fake3dImageEffect script -->
<script src="https://unpkg.com/@luxdamore/vue-fake3d-image-effect@latest/dist/Fake3dImageEffect.umd.min.js"></script>
<!-- end Fake3dImageEffect script -->

</body>
</html>